*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Quicksand", sans-serif;
  }

.navbar{
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: baseline;
    /* position: sticky; */
    /* top: 0px; */
}
.left{
    display: flex;
    gap: 20px;
    margin-left: 100px; 
    margin-top: 10px;
}
.right{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    gap: 30px;
    margin-right: 100px; 
    font-size: 20px;
}
.envelope{
    gap: 5px;
}
.call{
    gap: 5px;
}
 .icon1,.icon2,.icon5{
    color: greenyellow;
}
.navbar2{
     width:1200px ; 
     height: 90px;
    /* font-size: 15px; */
     background-color: white;
    display: flex;
    justify-content: space-between;
    /* justify-items: center; */
    align-items: center;
    /* padding: 10px 20px; */
    color: black;
      margin-left: 150px; 
      position: absolute; 
      top: 50px;
    box-shadow: 1px 1px 1px 1px greenyellow; 
}
.navbar2 .contant ul li a{
    text-decoration: none;
    color: black;
}
.manu-icon{
    display: none;
    font-size: 24;
    cursor: pointer;
}
@media (mam-width: 100%) {
    .navbar2 .contant ul{
        display: none;
        flex-direction: column;
        background: #444;
        position: a;
        top: 70px;
        left: 0;
        width: 100%;
        text-align: center;
    }
#click:checked ~ .navbar2 .contant ul{
    display: flex;
}
.manu-icon{
    display: block;
}
.navbar2{
    flex-direction: row;
    position: relative;
}
}
.navbar2 .contant ul{    
    display: flex;
    /* justify-content: space-between; */
     list-style: none;
    /* text-decoration: none; */
    gap: 20px;
    margin: 0px;
    padding: 0px;
} 
.contant ul li a:hover{
color: greenyellow;
transition: all 0.5s ease 0s;
}
.navbar2 .logo{
     margin-left: 50px; 
    font-size: 30px;
    font-weight:bold;
}
.logo::after{
    content: "ER";
    color: greenyellow;
}
 .contant{
    font-size: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 30px; 
      margin-left: 100px;  
}  
#bar{
    color: greenyellow;
    font-size: 20px;
}
    

 header{
  background-image: url(oia.html.html); 
  height: 100vh;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: changeimage;
  animation-duration: 5s;
} 

@keyframes changeimage{
    25%{
        background-image: url(background.html);
    }
    75%{
        background-image: url(background3.html);
    }
}
.a1{
    text-decoration: none;
    display: flex;
    justify-self: center;
    margin-top: 40px;
}
.a1 a{
    text-decoration: none;
}

.header-contant h3{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center; 
    color: white;  
    text-decoration: none;
}
.place{
    display: flex;
    justify-content: center; 
    color: white;
    text-decoration: none;
}
h1{
    font-size: 50px;
    color: white;
}
.button{
     padding: 8px 15px; 
    background-color: rgb(161, 225, 77);
    color: white
}
.box{
    height:90px ;
    width:1200px ;
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px ;
    margin-left: 150px;
    position: relative;
    bottom: 50px;
    box-shadow: 1px 1px 1px 1px greenyellow;

}
#destination{
height: 40px;
width: 150px;
}
#ddate{
    height: 40px;
    width: 150px;
}
#rdate{
    height: 40px;
    width: 150px;
}
#duration{
    height: 40px;
    width: 150px;
}
.box input{
    height: 40px;
    width: 140px;
    background-color: rgb(144, 189, 78);
    border: none;
    color: white;
    font-size: 20px;
    margin-left: 50px;
}
img{
 padding-left: 40px;
}
.card{
border: 1px solid black;
height: 550px;
width: 520px;
 padding: 50px; 
 border: none;
 background-color:whitesmoke;
 position: absolute; 
 right: 300px; 

}
.imgcontant{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
    margin-right: 600px;
    position:static;
}
h6{
    letter-spacing: 5px;
    color: rgb(144, 189, 78);
}
.taj{
    display: flex;
    justify-content: center; 
    gap: 10px;
    margin-top: 20px;
    padding-right:10px;
}
 button{
    height: 30px;
    width: 90px;
    color: white;
    background-color: rgb(144, 189, 78);
    margin-top: 30px;
    border: none;
} 
.tan{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    margin-top:60px ;

}
.d1{
    height:80px ;
    width: 80px; 
    background-color: greenyellow; 
    border: 1px solid black;
    border: none;
}
.d2{
    height: 80px ;
    width: 80px;
     background-color: greenyellow; 
    border: 1px solid black;
    border: none;
}
.d3{
    height: 80px ;
    width: 80px;
    background-color: greenyellow; 
    border: 1px solid black;
    border: none;
}
.desti{
    display: flex;
    justify-content: center;
    margin-top: 130px;
}
.nat h6{
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.imgs1{
    display: flex;
    justify-content: center;
gap: 20px;
margin-top: 30px;
}
.imgs1 img:hover{
    transform: scale(1.3);
    z-index: 2;
    transition: 0.5sec ease 0s;
}
.imgs2{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.imgs2 img:hover{
    transform: scale(1.3);
    z-index: 2;
}
footer{
    height: 500px;
    width: 100%;
    margin-top: 40px;
    background-color:black;
    color: white;
display: flex;
justify-content: space-evenly;
justify-items: center;
align-items: center;
}
.service{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
 h6{
    /* margin-top: 50px; */
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.scard{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    padding: 20px;
}
.tr{
    border: 1px solid black;
    padding: 40px;
}
.tr i{
    display: flex;
    justify-content: center;
    /* padding: 30px; */
    border: 1px solid greenyellow;
    color: greenyellow;
}
.ou{
    border: 1px solid black;
    padding: 40px;
} 
.ou i{
    display: flex;
    justify-content: center;
     /* padding: 30px;  */
    border: 1px solid greenyellow;
    color: greenyellow;

}
.us{
    border: 1px solid black;
    padding: 40px;
}
.us i{
    display: flex;
    justify-content: center;
    /* padding: 30px; */
    border: 1px solid greenyellow;
    color: greenyellow;
}
.package{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 150px;
}
.age{
    margin-top: 200px;
}
.age h1{
    display: flex;
    justify-items: center;
    justify-content: center;
}
.package h1{
    display: flex;
    justify-content: center;
    justify-items: center;
}
/* #cards */
.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top:50px ;
}
.card1{
    width: 300px;
    background-color:white;
    /* padding-bottom: 20px; */
}
.abc{
    color: rgb(149, 208, 60);
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    margin-top: 10px;
}
.ab{
    color: rgb(147, 215, 44);
}
.discover{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.star{
    width: 300px;
    height: 50px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    /* padding-top: 20px; */
}
.star i{
    color: rgb(147, 215, 44);
}

.cards2{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
